<app-desktop-nav></app-desktop-nav>


<div class="tm-hero d-flex justify-content-center align-items-center" id="tm-video-container">
  <video [playbackRate]="0.7" autoplay muted loop id="tm-video">
    <source src="assets/hero.mov" type="video/mp4">
  </video>

  <div class="categories">
    <input class="form-control tm-search-input" #input (input)="searchVideos(input.value)" type="search"
      placeholder="Pretraga" aria-label="Search">

    <div class="language">
      <label>Jezik:</label>
      <select (change)="onChangeLanguage($event.target.value)">
        <option value="all">svi jezici</option>
        <option value="eng">engleski jezik</option>
        <option value="bos">bosanski jezik</option>
      </select>
    </div>
  </div>

</div>

<div class="container-fluid tm-container-content tm-mt-60">

  <div class="row tm-mb-90 tm-gallery">
    <ng-container *ngIf="favoriteVideos">
      <h5 style="margin: 0 auto;text-align: center;padding: 20px;" *ngIf="favoriteVideos.length == 0">Još uvijek niste dodali ništa u listu omiljenih</h5>
    </ng-container>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5 mp" data-aos="fade-up" data-aos-duration="1200"
      *ngFor="let video of favoriteVideos">
      <figure class="effect-ming tm-video-item">
        <img src="https://i.ytimg.com/vi/{{video.id}}/hq720.jpg" alt="{{video.title}}" class="img-fluid">
        <figcaption class="d-flex align-items-center justify-content-center">
          <h2 class="video-title"> {{video.title}}</h2>
          <a [routerLink]="['/omiljeno', video.firebaseId]" (click)="videoService.activeVideo = video">View more</a>
        </figcaption>
      </figure>
      <div class="d-flex justify-content-between tm-text-gray">
        <span> {{video.title}}</span>
        <img height="40px" class="heart" placement="top" ngbTooltip="Uklonite iz liste omiljenih"
          (click)="removeFromFavorite(video)" src="assets/img/favorite-red.svg">
      </div>
    </div>
  </div> <!-- row -->

</div> <!-- container-fluid, tm-container-content -->

<app-footer></app-footer>