<div id="donate-modal" *ngIf="donateService.showModal">
  <div class="container" style="padding: 0;">
  <div class="row title-section">
    <div data-aos="fade-down-left" data-aos-duration="1200" data-aos-delay="200"
      class="col-12 aos-init aos-animate">
      <div class="section-title">
        <h2>Zašto se aplikacija od sada naplaćuje?</h2>
      </div>
      <p>Kako je veliki broj ljudi počeo koristiti našu stranicu/aplikaciju došli su nam troškovi kojima se nismo nadali.
        Imamo mogućnost da zarađujemo na reklamama ali ne želimo djecu izlagati sadržaju koji ne možemo u potpunosti kontrolisati.
        Odlučili smo da simbolično naplatimo korištenje aplikacije jer smatramo da Vaše malo može mnogo olakšati njen razvoj i održavanje.
        Često dobijamo nove zahtjeve i ideje a za to su nam potrebna novčana sredstva.
        Mnogo vremena i truda smo uložili da napravimo aplikaciju i da svaki crtani film i pjesmicu detaljno pregledamo i izbacimo muziku i sve ono što je neprimjereno. 
        Potrebna nam je Vaša novčana podrška kako bismo nastavili sa daljnjim radom i održavanjem. </p>
      
        <a (click)="removeModal()" class="donate-btn close-btn">X</a>
    </div>
  </div></div>
</div>