<app-desktop-nav></app-desktop-nav>
<div class="payment-details-wrapper">
  <div class="payment-details">

    <ng-container *ngIf="authService.subscriptionDetails && showModal">
      <div class="title modal">
        <h3>Jeste li sigurni da želite otkazati pretplatu?</h3>
        <button class="btn btn-danger"
          (click)="cancelPaypalSubscription()">DA</button>
          <button class="btn btn-success" (click)="showModal = false">NE</button>
      </div>
    </ng-container>

    <ng-container *ngIf="authService.subscriptionDetails">
      <div class="title">
        <h3>Status Vaše pretplate: {{subscriptionStatus(authService.subscriptionDetails.status)}}</h3>
        <button *ngIf="authService.subscriptionDetails.status == 'ACTIVE'" class="btn btn-danger"
          (click)="showModal = true"> Otkazi pretplatu</button>
      </div>

      <p>Pretplatili ste se: <strong>{{subscriptionDate(authService.subscriptionDetails.start_time) | date:
          'dd.MM.yyyy.'}}</strong></p>


      <p *ngIf="authService.subscriptionDetails.status == 'ACTIVE'">Sljedeće plaćanje će se automatski izvršiti:
        <strong>{{subscriptionDate(authService.subscriptionDetails.billing_info.next_billing_time) | date:
          'dd.MM.yyyy.'}}</strong> ako do tada ne otkažete pretplatu.</p>
      <p *ngIf="authService.subscriptionDetails.status == 'CANCELLED'">Možete koristiti našu aplikaciju do:
        <strong>{{subscriptionDate(authService.subscriptionDetails.billing_info.next_billing_time) | date:
          'dd.MM.yyyy.'}}</strong> jer ste za taj period platili.</p>

      <div *ngIf="2<1">
        <p *ngIf="authService.subscriptionDetails.billing_info.failed_payments_count == 0">Nemate nijedan neplaćen
          ciklus.</p>
        <p *ngIf="authService.subscriptionDetails.billing_info.failed_payments_count != 0">Imate
          {{authService.subscriptionDetails.billing_info.failed_payments_count}} neplaćen ciklus, molimo Vas uplatite
          novac na račun što prije da Vam se pretplata ne bi otkazala.</p>
      </div>

      <div>
        <h3>Vaši podaci:</h3>
        <p>Ime: <strong>{{authService.subscriptionDetails.subscriber.name.given_name}}</strong></p>
        <p>Prezime: <strong>{{authService.subscriptionDetails.subscriber.name.surname}}</strong></p>
        <p>Email preko kojeg ste se pretplatili:
          <strong>{{authService.subscriptionDetails.subscriber.email_address}}</strong></p>
      </div>
    </ng-container>

    <ng-container *ngIf="!authService.subscriptionDetails">
      <h2>Još uvijek niste pretplaćeni</h2>
      <a class="btn btn-info" routerLink="/paypal">Pretplatite se</a>
    </ng-container>
  </div>
</div>