<app-auth-nav></app-auth-nav>

<div class="main-wrapper">

  <video [playbackRate]="0.7" autoplay muted loop id="background-video">
    <source src="/assets/hero.mov" type="video/mp4">
  </video>
  
  <div class="reset-password">
    
      <div class="authBlock">
        <h3>Zaboravili ste lozinku ?</h3>
  
        <p class="text-center">Unesite email za povratak lozinke.</p>
  
        <div class="group">
          <span class="resetPasswordErrorMsg">{{authService.resetPasswordErrorMessages}}</span>
        </div>
        <div class="group">
          <span class="resetPasswordSuccessMsg">{{authService.resetPasswordSuccessMessages}}</span>
        </div>
        
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email" #passwordResetEmail required>
        </div>
  
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <input type="submit" class="resetBtn" value="Pošalji" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
  
      <div class="redirectToLogin">
        <span><span class="redirect" routerLink="/auth">Nazad na prijavu</span></span>
      </div>
  
  </div>
  </div>