<header id="header" class="fixed-top" [class.white]="addHeaderClass">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-10 d-flex align-items-center">
        <!-- <h1 class="logo mr-auto"><a href="index.html" style="color: white;">Dječiji kutak<span>.</span></a></h1>-->
        <h1 class="logo mr-auto">

          <a routerLink="/pocetna">Dječiji kutak<span>.</span></a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!--<a href="index.html" class="logo mr-auto"><img src="assets/img/logo-biggest.png" alt=""></a>-->

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li><a routerLink="/pocetna">Početna</a></li>
            <li><a [routerLinkActive]="['active']" routerLink="/videos">Videa</a></li>
            <li *ngIf="authService.isLoggedIn && authService.isPremiumUser"><a [routerLinkActive]="['active']" routerLink="/omiljeno">Lista omiljenih</a></li>
            <li *ngIf="authService.isLoggedIn && authService.isPremiumUser"><a [routerLinkActive]="['active']" routerLink="/pretplata">Moja pretplata</a></li>
            <li *ngIf="authService.isLoggedIn"><a class="welcome">Dobrodošli, {{authService.getCurrentUser().email.split('@')[0]}}</a></li>
            <li *ngIf="authService.isLoggedIn"><a class="signOut" (click)="authService.SignOut()">Odjavite se</a></li>
            <li *ngIf="!authService.isLoggedIn"><a class="signIn" routerLink="/auth">Prijava/Registracija</a></li>
          </ul>
        </nav><!-- .nav-menu -->
      <app-navigation></app-navigation>
      </div>
    </div>

  </div>
</header><!-- End Header -->