.title{
  width: 100%;
}
label{
  margin-right: 20px;
}

.tm-search-input{
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}
button{
  margin-right: 30px;
}

.add-video{
  justify-content: center;
  background: #343a40;
  padding: 25px;
  color: white;
}

tr{
  &.green{
    background: #28a74628;
  }
}