@media (max-width: 768px) {
  #tm-video {
    width: 140%;
    display: none;
  }

  .mp {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.categories {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 5px;

  @media(max-width: 768px){
    top: 60%;
  }


  .language {
    margin-top: -35px;
  }
  select {
    display: block;
    margin: 0 auto;
    text-align-last: center;
    box-shadow: #0000001f 1px 5px 8px 1px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 10px 15px;
    margin-left: 10px;
    background: white;
  }
  label {
    font-size: 17px;
    color: #009999;
  }
}

.subscriptionMessage{
  text-align: center;
  margin-bottom: 50px;
}


.tm-gallery{
  min-height: 60vh;
}

.total{
  text-align: right;
  margin-top: -40px;
  color: white !important;
    filter: drop-shadow(1px 4px 6px rgba(128, 128, 128, 0.9));
    font-family: 'Circular-Loom';

  @media(max-width: 768px){
    text-align: center;
    margin-top: 0;
  }
}

.mm-10{
  @media(max-width: 768px){
    margin-top: 10px !important;
  }
}